{{ template "layout.html" . }}
{{ define "content" }}
<table class="admin">
  <tr>
  <td>
  {{ if .LastPaperDL }}
  {{ .Status }} (<a style="text-decoration: underline;" href="/download/{{ .LastPaperDL }}">download</a>)
  {{ else }}
  {{ .Status }}
  {{ end }}
  </td>
  </tr>
  <tr>
  <td>
    <form method='post' action='/admin/add/'>
    <input type='text' name='new-category' placeholder="Mathematics" value=''/>
    <input type="submit" value="New Category" />
    </form>
  </td>
	</tr>
  {{ $categoryCount := len .Papers.List }}
  {{ if gt $categoryCount 0 }}
	<tr>
  <td>
    <form method='post' action='/admin/add/'>
    <input type='text' name='dl-paper' placeholder="URL or DOI" value=''/>
    <select class="sel" name="dl-category" id="category">
    {{ $lastUsedCategory := .LastUsedCategory }}
    {{ if $lastUsedCategory }}
      <option value="{{ .LastUsedCategory }}">{{ $lastUsedCategory }}</option>
    {{ end }}
    {{ range $category, $papers := .Papers.List }}
      {{ if ne $category $lastUsedCategory }}
      <option value="{{ $category }}">{{ $category }}</option>
      {{ end }}
    {{ end }}
    </select>
    <input type="submit" value="Download" />
    </form>
  </td>
  </tr>
  {{ end }}
</table>
{{ if gt $categoryCount 0 }}
<div class="cat-cont">
  <div class="cat">
    {{ range $category, $paper := .Papers.List }}
    <span class="cat"><a href="#{{ $category }}">{{ $category }}</a></span>
    {{ end }}
  </div>
</div>
<p class="Pp"><a class='active' href='/admin/edit/'>Edit</a></p>
<div class='content'>
{{ block "list" . }}{{ end }}
</div>
{{ end }}
{{ end }}
