{{ template "layout.html" . }}
{{ define "content" }}
<p>{{ .Status }}</p>
<table id='header'>
  <tr>
  {{ $categoryCount := len .Papers }}
  {{ if gt $categoryCount 0 }}
    <td class='inpt'>
      <form method='post' action='/admin/edit/'>
        <input type="text" id="rename-category" name="rename-to" placeholder="Mathematics">
        <select class="sel" name="rename-category" id="category">
        {{ range $category, $papers := .Papers }}
        <option value="{{ $category }}">{{ $category }}</option>
        {{ end }}
        </select>
        <input class="btn" type="submit" value="Rename Category">
      </form>
    </td>
  {{ end }}
  </tr>
</table>
<div class="cat">
  <span>{{ range $category, $paper := .Papers }}[<a href="#{{ $category }}">{{ $category }}</a>] {{ end }}</span>
</div>
<table class='tabs'>
  <tr>
    <td><a class='active' href='/admin/'>Back</a></td>
  </tr>
</table>
<div class='content'>
{{ if gt $categoryCount 0 }}
<form method='post' action='/admin/edit/'>
  <div class="action">
  <select class="sel" name="action" id="Action">
    <optgroup label="Action">
      <option value="delete">Delete</option>
    </optgroup>
    <optgroup label="Move To">
      {{ range $category, $papers := .Papers }}
      <option value="move-{{ $category }}">{{ $category }}</option>
      {{ end }}
    </optgroup>
  </select>
  <input class="btn" type="submit" value="Save" />
  </div>
<div class='papers nowrap list'>
{{ range $category, $papers := .Papers }}
  {{ $paperCount := len $papers }}
  <div class="papersection">
  <input type="checkbox" id="{{ $category }}" name="category" value="{{ $category }}">
  <label for="{{ $category }}"><span class='papersection' id='{{ $category }}'>{{ $category }}</span></label>
  </div>
  {{ range $path, $paper := $papers }}
    <div class="paper">
    {{ if $paper.Meta.Title }}
    <span class="title"><input type="checkbox" id="{{ $path }}" name="paper" value="{{ $path }}"> <a href='/download/{{ $path }}' title='{{ $paper.Meta.Title }}'>{{ $paper.Meta.Title }}</a></input></span><br>
    {{ else }}
    <span class="title"><input type="checkbox" id="{{ $path }}" name="paper" value="{{ $path }}"><label for="{{ $path }}"> <a href='/download/{{ $path }}' title='{{ $paper.PaperName }}'>{{ $paper.PaperName }}</a></label></span><br>
    {{ end }}

    {{ if $paper.Meta.Title }}
    <span class="authors">{{ range $index, $contributor := $paper.Meta.Contributors }}{{if $index}}, {{end}}{{ $contributor.FirstName }} {{ $contributor.LastName }}{{end}}</span><br>
    <span class="year">{{ $paper.Meta.PubYear }}</span> - <span class="doi"><a href="https://doi.org/{{ $paper.Meta.DOI }}">{{ $paper.Meta.DOI }}</a></span> - <span class="journal">{{ $paper.Meta.Journal }}</span>
    {{ end }}
    </div>
  {{ end }}
{{ end }}
{{ end }}
</form></div>
{{ end }}
