{{ template "layout.html" . }}
{{ define "content" }}
<table id='header'>
</table>
{{ $categoryCount := len .Papers.List }}
{{ if gt $categoryCount 0 }}
<div class="cat">
  <span>{{ range $category, $paper := .Papers.List }}<span class="nowrap">[<a href="#{{ $category }}">{{ $category }}</a>]</span> {{ end }}</span>
</div>
<table class='tabs'>
  <tr>
    <td><a class='active' href='/admin/'>Manage</a></td>
  </tr>
</table>
<div class="content">
{{ block "list" . }}{{ end }}
</div>
{{ else }}
<p>nothing here yet, <a style="text-decoration:underline;" href="/admin/">create a category</a> to start downloading papers</p>
{{ end }}
{{ end }}
