{{ template "layout.html" . }}
{{ define "content" }}

<div class="content">
{{ $categoryCount := len .Papers.List }}
{{ if gt $categoryCount 0 }}
<div class="cat-cont">
  <div class="cat">
    {{ range $category, $paper := .Papers.List }}
    <span class="cat"><a href="#{{ $category }}">{{ $category }}</a></span>
    {{ end }}
  </div>
</div>
<p class="Pp"><a class='active' href='/admin/'>Manage</a></p>
{{ block "list" . }}{{ end }}
</div>
{{ else }}
<p>nothing here yet, 
<a style="text-decoration:underline;" href="/admin/">create a category</a> 
to start downloading papers</p>
{{ end }}
{{ end }}
