{{ define "list" }}
<div class='papers nowrap list'>
{{ range $category, $papers := .Papers }}
  {{ $paperCount := len $papers }}
  {{ if ge $paperCount 1 }}
  <div class="papersection">
  <span class='papersection' id='{{ $category }}'>{{ $category }}</span>
  </div>
  {{ range $path, $paper := $papers }}
    <div class="paper">
    {{ if $paper.Meta.Title }}
    <span class="title"><a href='/download/{{ $path }}' title='{{ $paper.Meta.Title }}'>{{ $paper.Meta.Title }}</a></span><br>
    {{ else }}
    <span class="title"><a href='/download/{{ $path }}' title='{{ $paper.PaperName }}'>{{ $paper.PaperName }}</a></span><br>
    {{ end }}

    {{ if $paper.Meta.Title }}
    <span class="authors">{{ range $index, $contributor := $paper.Meta.Contributors }}{{if $index}}, {{end}}{{ $contributor.FirstName }} {{ $contributor.LastName }}{{end}}</span><br>
    <span class="year">{{ $paper.Meta.PubYear }}</span> - <span class="doi"><a href="https://doi.org/{{ $paper.Meta.DOI }}">{{ $paper.Meta.DOI }}</a></span> - <span class="journal">{{ $paper.Meta.Journal }}</span>
    {{ end }}
    </div>
  {{ end }}
  {{ end }}
{{ end }}
</div>
{{ end }}
